HW03

List of functions to use:

abs()
all()
any()
bin()
callable()
chr() - try: print chr(97), chr(10), chr(100), chr(9), chr(105)
in the next cell, try: chr(10)
in another cell, try: chr(9)
and the full ASCII table is available here: http://www.asciitable.com/
cmp()
divmod()
enumerate()*
eval()*‡
execfile()‡
help()
hex()
int()†
isinstance()
list()
long()
map()
max()‡
min()‡
oct()
reduce()
reversed()
round()
sum()‡
tuple()
xrange()
zip()

* You only need to try it with the examples given at the above website.
‡ Don’t worry about optional arguments, i.e., the ones in square brackets.
† Use a base that is different from 10.

For some of these functions, it is necessary to create an appropriate object or a function in order
to try them. Unless otherwise specified, in your trials you should use the optional arguments for
those functions that have them.

abs()

Return the absolute value of a number. The argument may be a plain or long integer or a floating point number. If the argument is a complex number, its magnitude is returned.

In [1]:
# plain integer
x = -25
print abs(x)

25

In [2]:
# Long integer
x = -25e56
print abs(x)

2.5e+57

In [3]:
# FLoat
x = -52.35123
print abs(x)

52.35123

In [4]:
# Complex
x = 4 + 5j
print abs(x)

6.40312423743

all()

Return True if all elements of the iterable are true (or if the iterable is empty).

In [5]:
l = [1,2,3,4,5,6,7,8,9]
print all(l)

True

any()

Return True if any element of the iterable is true. If the iterable is empty, return False.

In [6]:
# List
l = range(10)
print any(l)

True

In [7]:
# Empty list
l = []
print any(l)

False

bin()

Convert an integer number to a binary string. The result is a valid Python expression. If x is not a Python int object, it has to define an __index__() method that returns an integer.

In [8]:
# Integer
print bin(15)

0b1111

In [9]:
# List
x = [1,2,3]
for y in x:
    print bin(y)

0b1
0b10
0b11

callable()

Return True if the object argument appears callable, False if not. If this returns true, it is still possible that a call fails, but if it is false, calling object will never succeed. Note that classes are callable (calling a class returns a new instance); class instances are callable if they have a __call__() method.

In [47]:
class BankAccount:
    def __init__(self, name, account_number, initial_amount):
        # This will be printed at the time of the creation an instance of this class.
        # Because method __init__ get called immediately (and implicitly).
        print 'A bank account is created: {:s}'.format(name)
        
        self.name = name
        self.no = account_number
        self.balance = initial_amount  # the attribute balance is initialized
                                       # and changes depending on whether a deposit or
                                       # withdraw is made.
    
    def deposit(self, amount):
        self.balance += amount
        return   # return is optional when there is nothing to return, just as for a function
    
    def withdraw(self, amount):
        self.balance -= amount
        
    def dump(self):
        s = '{:s} {:s}, balance: {:g}'.format(self.name, self.no, self.balance)
        print s
        
print callable(BankAccount)

True

In [11]:
j = 1
print callable(j)

False

chr()

Return a string of one character whose ASCII code is the integer i. For example, chr(97) returns the string 'a'. This is the inverse of ord(). The argument must be in the range [0..255], inclusive; ValueError will be raised if i is outside that range. See also unichr().

In [12]:
print chr(97), chr(10), chr(100), chr(9), chr(105)

a
d 	i

In [13]:
chr(10)

'\n'

In [14]:
chr(9)

'\t'

cmp()

Compare the two objects x and y and return an integer according to the outcome. The return value is negative if x < y, zero if x == y and strictly positive if x > y.

In [15]:
# x < y
cmp(2,3)

-1

In [16]:
# x > y
cmp(3,2)

1

In [17]:
# x == y
cmp(3,3)

0

divmod(a, b)

Take two (non complex) numbers as arguments and return a pair of numbers consisting of their quotient and remainder when using long division. With mixed operand types, the rules for binary arithmetic operators apply. For plain and long integers, the result is the same as (a // b, a % b). For floating point numbers the result is (q, a % b), where q is usually math.floor(a / b) but may be 1 less than that.

In [18]:
# Int
divmod(15, 5)

(3, 0)

In [19]:
# Mixed
divmod(5., 15)

(0.0, 5.0)

In [20]:
# Float
divmod(15., 5.6)

(2.0, 3.8000000000000007)

enumerate(sequence, start=0)

Return an enumerate object. sequence must be a sequence, an iterator, or some other object which supports iteration.

In [21]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [22]:
list(enumerate(seasons, start=1))

[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

eval(expression)

The arguments are a Unicode or Latin-1 encoded. The expression argument is parsed and evaluated as a Python expression

In [23]:
x = 1
print eval('x+1')

2

execfile(filename)

Read and execute a Python script from a file.

In [24]:
execfile("sorted_stars.py")

Ranked by Distance:

Alpha Centauri C      4.200000
Alpha Centauri A      4.300000
Alpha Centauri B      4.300000
Barnard's Star        6.000000
Wolf 359              7.700000
BD +36 degrees 2147   8.200000
Luyten 726-8 A        8.400000
Luyten 726-8 B        8.400000
Sirius A              8.600000
Sirius B              8.600000
Ross 154              9.400000

Ranked by Apparent Brightness:

Wolf 359              0.000001
Luyten 726-8 B        0.000002
Luyten 726-8 A        0.000003
Alpha Centauri C      0.000010
Ross 154              0.000020
Barnard's Star        0.000040
BD +36 degrees 2147   0.000300
Sirius B              0.001000
Alpha Centauri B      0.077000
Alpha Centauri A      0.260000
Sirius A              1.000000

Ranked by Absolute Brightness:

Wolf 359              0.000020
Luyten 726-8 B        0.000040
Alpha Centauri C      0.000060
Luyten 726-8 A        0.000060
Barnard's Star        0.000500
Ross 154              0.000500
Sirius B              0.003000
BD +36 degrees 2147   0.006000
Alpha Centauri B      0.450000
Alpha Centauri A      1.560000
Sirius A              23.600000

help([object])

Invoke the built-in help system. (This function is intended for interactive use.) If no argument is given, the interactive help system starts on the interpreter console. If the argument is a string, then the string is looked up as the name of a module, function, class, method, keyword, or documentation topic, and a help page is printed on the console. If the argument is any other kind of object, a help page on the object is generated.

In [2]:
# No object
help()

Help on class BankAccount in module __main__:

class BankAccount
 |  Methods defined here:
 |
 |  __init__(self, name, account_number, initial_amount)

In [3]:
# Object
help(BankAccount)

Help on class BankAccount in module __main__:

class BankAccount
 |  Methods defined here:
 |
 |  __init__(self, name, account_number, initial_amount)

In [6]:
# String
help('abs')

Help on built-in function abs in module __builtin__:

abs(...)
    abs(number) -> number

    Return the absolute value of the argument.

hex(x)

Convert an integer number (of any size) to a lowercase hexadecimal string prefixed with “0x”.

In [10]:
hex(15)

'0xf'

int(x=0)

Return an integer object constructed from a number or string x, or return 0 if no arguments are given. If x is a number, it can be a plain integer, a long integer, or a floating point number. If x is floating point, the conversion truncates towards zero. If the argument is outside the integer range, the function returns a long object instead.

In [12]:
# No argument
int()

0

In [13]:
# Number
int(5.2)

5

In [46]:
# String
int('40',12)

48

isinstance(object, classinfo)

true if the object argument is an instance of the classinfo argument.
true if classinfo is a type object (new-style class) and object is an object of that type. 
If object is not a class instance or an object of the given type, the function always returns false. If classinfo is neither a class object nor a type object, it may be a tuple of class or type objects, or may recursively contain other such tuples (other sequence types are not accepted). 
If classinfo is not a class, type, or tuple of classes, types, and such tuples, a TypeError exception is raised.

In [76]:
# Not instance of class
isinstance(BankAccount, type(1))

False

In [79]:
# Instance
class Y:
    def __init__(self):
        print 'Yup'
isinstance(BankAccount, type(Y))

True

list(iterable)

Return a list whose items are the same and in the same order as iterable‘s items. iterable may be either a sequence, a container that supports iteration, or an iterator object. If iterable is already a list, a copy is made and returned, similar to iterable[:]. For instance, list('abc') returns ['a', 'b', 'c'] and list( (1, 2, 3) ) returns [1, 2, 3]. If no argument is given, returns a new empty list, [].

In [81]:
# Tuple
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [82]:
# String
list("Maybe it's because you're ugly")

['M',
 'a',
 'y',
 'b',
 'e',
 ' ',
 'i',
 't',
 "'",
 's',
 ' ',
 'b',
 'e',
 'c',
 'a',
 'u',
 's',
 'e',
 ' ',
 'y',
 'o',
 'u',
 "'",
 'r',
 'e',
 ' ',
 'u',
 'g',
 'l',
 'y']

In [83]:
# Already a list
list([1,2,3,4])

[1, 2, 3, 4]

long(x, base=10)

Return a long integer object constructed from a string or number x. If the argument is a string, it must contain a possibly signed number of arbitrary size, possibly embedded in whitespace. The base argument is interpreted in the same way as for int(), and may only be given when x is a string. Otherwise, the argument may be a plain or long integer or a floating point number, and a long integer with the same value is returned. Conversion of floating point numbers to integers truncates (towards zero). If no arguments are given, returns 0L.

In [93]:
# String
long('212909')

212909L

In [101]:
# Integer
long(21e20)

2100000000000000000000L

In [102]:
# Float
long(21.342)

21L

In [103]:
# No argument
long()

0L

map(function, iterable, ...)

Apply function to every item of iterable and return a list of the results. If additional iterable arguments are passed, function must take that many arguments and is applied to the items from all iterables in parallel. If one iterable is shorter than another it is assumed to be extended with None items. If function is None, the identity function is assumed; if there are multiple arguments, map() returns a list consisting of tuples containing the corresponding items from all iterables (a kind of transpose operation). The iterable arguments may be a sequence or any iterable object; the result is always a list.

In [106]:
# Single iterable
def f(x):
    return x**2
print map(f, range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [107]:
# More than 1 iterable
def Q(x,y):
    x **= 2
    y **= 2
    return x + y
print map(Q, range(10), range(10))

[0, 2, 8, 18, 32, 50, 72, 98, 128, 162]

In [112]:
# None function
def x(y):
    return None
print map(x, [1,2])

[None, None]

max(arg1, arg2)

Return the largest item in an iterable or the largest of two or more arguments.

In [113]:
# One iterable
print max([12,3,34,123])

123

In [116]:
# Two arguments
print max(24,35)

35

min(arg1, arg2)

Return the smallest item in an iterable or the smallest of two or more arguments.

In [1]:
# One iterable
print min([1,2,3,4,5,6,-231])

-231

In [2]:
# Two arguments
print min(31, -1234)

-1234

oct(x)

Convert an integer number (of any size) to an octal string. The result is a valid Python expression

In [3]:
print oct(123456789)

0726746425

reduce(function, iterable[, initializer])

Apply function of two arguments cumulatively to the items of iterable, from left to right, so as to reduce the iterable to a single value

In [6]:
print reduce(2, [1,2,3,4,5,6,7,8,9])

TypeError: 'int' object is not callable

In [8]:
reduce(lambda x, y: x*y, [1,2,3,4,5,6,7,8,9])

362880

reversed(seq)

Return a reverse iterator. seq must be an object which has a __reversed__() method or supports the sequence protocol (the __len__() method and the __getitem__() method with integer arguments starting at 0).

In [25]:
_list = list(range(4))
print _list
x = reversed(_list)
print list(x)

[0, 1, 2, 3]
[3, 2, 1, 0]

round(number[, ndigits])

Return the floating point value number rounded to ndigits digits after the decimal point. If ndigits is omitted, it defaults to zero. The result is a floating point number. Values are rounded to the closest multiple of 10 to the power minus ndigits; if two multiples are equally close, rounding is done away from 0 (so, for example, round(0.5) is 1.0 and round(-0.5) is -1.0).

In [32]:
print round(1234.1351969, 5)

1234.1352

sum(iterable)

Sums start and the items of an iterable from left to right and returns the total. start defaults to 0. The iterable‘s items are normally numbers, and the start value is not allowed to be a string.

For some use cases, there are good alternatives to sum(). The preferred, fast way to concatenate a sequence of strings is by calling ''.join(sequence). To add floating point values with extended precision, see math.fsum(). To concatenate a series of iterables, consider using itertools.chain().

In [33]:
# Iterable
x = (1,2,3,4,5,6,7,8,9)
print sum(x)

45

tuple([iterable])

Return a tuple whose items are the same and in the same order as iterable‘s items. iterable may be a sequence, a container that supports iteration, or an iterator object. If iterable is already a tuple, it is returned unchanged. For instance, tuple('abc') returns ('a', 'b', 'c') and tuple([1, 2, 3]) returns (1, 2, 3). If no argument is given, returns a new empty tuple, ().

In [35]:
# Iterable
x = [1,2,3,4,5]
print tuple(x)

(1, 2, 3, 4, 5)

In [36]:
# Tuple
x = (1,2,3)
print tuple(x)

(1, 2, 3)

In [37]:
# Empty Argument
print tuple()

()

xrange(start, stop[, step])

This function is very similar to range(), but returns an xrange object instead of a list. This is an opaque sequence type which yields the same values as the corresponding list, without actually storing them all simultaneously

In [43]:
print type(xrange(10))
print xrange(10)

<type 'xrange'>
xrange(10)

zip([iterable, ...])

This function returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. The returned list is truncated in length to the length of the shortest argument sequence. When there are multiple arguments which are all of the same length, zip() is similar to map() with an initial argument of None. With a single sequence argument, it returns a list of 1-tuples. With no arguments, it returns an empty list.

In [44]:
# Iterables of same length
print zip([1,2,3], [3,4,5], [5,6,7])

[(1, 3, 5), (2, 4, 6), (3, 5, 7)]

In [45]:
# Iterables of different length
print zip([1,2,3,4,5], [7,8,9],[10,11,12,13])

[(1, 7, 10), (2, 8, 11), (3, 9, 12)]

In [46]:
# Single argument
print zip([1,2,3,4,5])

[(1,), (2,), (3,), (4,), (5,)]

In [47]:
# No argument
print zip()

[]